@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
svg
{
	z-index: 100;
}
:root
{
	--padding: 10vmin;
	--color-background: #D0CBC7;
	
	--font-size-large: 8vw;
	--font-size-medium: 4vw;
	--font-size-normal: 2vw;
	
	@media only screen and (min-width: 800px) {
		--font-size-large: 64px;
		--font-size-medium: 32px;
		--font-size-normal: 16px;
	}
	
	@media only screen and (max-width: 500px) {
		--font-size-large: 40px;
		--font-size-medium: 20px;
		--font-size-normal: 14px;
	}
}

a
{
	color: white;
}

ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

li
{
	margin-top: 10px;
}

html, body
{
	margin: 0;
	// overflow: hidden;
	min-height: 100%;
	min-width: 100%;
	font-family: 'Libre Baskerville', serif;
	background-color: var(--color-background);
	font-weight: 400;
	font-size: var(--font-size-normal);
	overflow-x: hidden;
}

canvas
{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
	
	visibility: hidden;
	opacity: 0;
}


.solid
{
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.wireframe
{
	clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.content
{
	position: relative;
	z-index: 1;
	
	
	.trigger
	{
		position: absolute;
		top: 0;
		height: 100%;
	}
	
	.section
	{
		position: relative;
		padding: var(--padding);
		--pad2: calc(var(--padding) * 2);
		width: calc(100vw - var(--pad2));
		height: calc(100vh - var(--pad2));
		// min-height: 400px;
		margin: 0 auto;
		z-index: 2;
		
		&.dark
		{
			color: white;
			background-color: black;
		}
		
		&.right
		{
			text-align: right;
		}
		
		
	}
	
	.blueprint
	{
		position: relative;
		background-color:#131C2A;
		background-image: linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px),
		linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
		background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
		background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
		background-attachment: fixed;
		
		svg
		{
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			stroke: white;
			pointer-events: none;
			visibility: hidden;
		}
		
		.dark
		{
			background-color: transparent;
		}
	}
	
	.ground-container
	{
		position: relative;
		overflow: hidden;
		// perspective: 2px;
		
		.parallax
		{
			position:absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -100px;
			background-repeat: no-repeat;
			background-position: top center; 
  			background-size: cover;
			transform-origin: top center;
		}
		
		.ground
		{
			z-index: -1;
			background-image: url("https://assets.codepen.io/557388/background-reduced.jpg"); 	
		}
		
		.clouds
		{
			z-index: 2;
			background-image: url("https://assets.codepen.io/557388/clouds.png");
		}
	}
	
	
	.scroll-cta, .credits
	{
		position: absolute;
		bottom: var(--padding);
	}	
	
	.scroll-cta
	{
		font-size: var(--font-size-medium);
		opacity: 0;
	}
	
	.sunset
	{
		background: url("https://assets.codepen.io/557388/sunset-reduced.jpg") no-repeat top center; 
  		background-size: cover;
		transform-origin: top center;
	}
	
	h1, h2
	{
		font-size: var(--font-size-large);
		margin: 0vmin 0 2vmin 0 ;
		font-weight: 700;
		display: inline;
	}
	
	h3,
	{
		font-size: var(--font-size-medium);
		font-weight: 400;
		margin: 0;
	}
	
	.end h2
	{
		margin-bottom: 50vh;
	}
	
	.loading
	{
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: var(--font-size-medium);
	}
	
}






:root {
  --color-background: #151818;
  --color-text: whitesmoke;
  --color-chill: #ecf232;
  --marquee-font-size: min(max(12px, 2vw), 22px);
  --headline-font-size: min(max(40px, 6vw), 70px);
  --paragraph-font-size: min(max(16px, 4vw), 22px);
  --section-heading-font-size: min(max(30px, 4vw), 50px);
  --duration: 300ms;
  --ease: cubic-bezier(0.33, 1, 0.68, 1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  width: 100%;
  transition: background-color var(--duration) var(--ease);
}

.page-content {
  max-width: 90ch;
  padding: 4rem;
  margin: 8rem auto;
}
.page-content * + * {
  margin-top: 2.5rem;
}
.page-content a {
  color: var(--color-chill);
}
.page-content h1 {
  font-size: var(--headline-font-size);
  font-weight: 700;
  line-height: 1.2;
}
.page-content h2 {
  margin-top: 6rem;
  font-size: var(--section-heading-font-size);
  font-weight: 700;
  line-height: 1.2;
}
.page-content em {
  font-style: italic;
}
.page-content p {
  font-size: var(--paragraph-font-size);
  line-height: 1.75;
  letter-spacing: 0.0125rem;
}

.page-content__section {
  transition: opacity var(--duration) var(--ease);
}
.page-content__section h2 {
  transform-origin: 50% 100%;
}

.page-content__section.active {
  opacity: 1;
}
.page-content__section.active h2 {
  -webkit-animation: activate calc(var(--duration) * 2) var(--ease) forwards;
          animation: activate calc(var(--duration) * 2) var(--ease) forwards;
}
@-webkit-keyframes activate {
  25% {
    color: var(--color-chill);
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-4px);
  }
  60% {
    color: var(--color-text);
    transform: translateY(1px);
  }
  65%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes activate {
  25% {
    color: var(--color-chill);
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-4px);
  }
  60% {
    color: var(--color-text);
    transform: translateY(1px);
  }
  65%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (prefers-reduced-motion: reduce) {
  .page-content__section.active h2 {
    -webkit-animation: none;
            animation: none;
  }
}

.marquee-container {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  z-index: 1;
}

.marquee {
  position: absolute;
  font-size: var(--marquee-font-size);
  line-height: 1;
  white-space: nowrap;
  letter-spacing: 0.25rem;
  overflow: hidden;
  padding: 2vmin 0;
  min-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--color-background);
  box-shadow: var(--color-background) 0 2vmin 2vmin 1vmin;
  transition: background-color var(--duration) var(--ease), box-shadow var(--duration) var(--ease);
}
.marquee--top {
  top: -1px;
}
.marquee--left {
  left: -1px;
  bottom: -6vmin;
  transform: rotate(-0.25turn);
  transform-origin: 0 0;
}
.marquee--right {
  left: calc(100% + 1px);
  top: 0;
  transform: rotate(0.25turn);
  transform-origin: 0 0;
}
.marquee--bottom {
  bottom: -1px;
  right: 0;
  transform: rotate(0.5turn);
}
.marquee div {
  opacity: 1;
  transition: opacity var(--duration) var(--ease);
}
.marquee div.active {
  opacity: 0;
}
